/* For the drag and drop sorting system */

.draggable {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 1rem;
	outline-style: dashed;
	outline-width: thin;

	cursor: move;
}

.draggable.dragging {
	opacity: 0.6;
}

/*
.dropArea {

	min-width: 5rem;
	min-height: 1rem;

	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 1rem;
	outline-style: dashed;
	outline-width: thin;
	opacity: 0.1;
}*/