/* For the drag and drop sorting system */

.draggable {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 1rem;
}

.draggable.dragging {
	background-color: rgba(78, 121, 177, 0.35);
}

#draggableId {
	display: none;
}