/* For the drag and drop sorting system */

.draggable {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 1rem;
	outline-style: dashed;
	outline-width: thin;

	cursor: move;
}

.draggable.dragging {
	background-color: rgba(80, 80, 146, 0.5);
}